.content
  display: flex
  align-items: center
  justify-content: space-between
  height: 102px
  &__left
    margin-left: 4%
  &__center
    margin-left: -123px
  &__right
    margin-right: 4%
  &__nav, a
    display: inline-block
    color: $color-light
    cursor: pointer
    &:hover
      color: $color-2
    &:active
      color: $color-1
  &__nav
    margin-left: 25px
  i
    margin-left: 0
    margin-right: 4px
  &__registration
    margin-right: 25px
