.tab
  display: inline-block
  height: 48px
  color: $color-dark-3
  border-bottom: 1px solid $color-dark-3
  border-right: 1px solid $color-dark-3
  font-size: 18px
  line-height: 48.32px
  letter-spacing: 1.6px
  text-align: center
  box-sizing: border-box
  cursor: pointer
  &--performer
    width: 319px
  &--customer
    width: 239px
    &:nth-child(4)
      width: 240px
  &--last
    border-right: none
  &--performer-active
    color: $color-light
    background-color: $color-dark-3
    transition: 0.5s
  &--customer-active
    color: $color-light
    background-color: $color-dark-3
    transition: 0.5s
  &:not(.tab--active):hover
    color: $color-light
    background-color: $color-dark-3
    transition: 0.5s