@font-face {
  font-family: 'Myriad_Pro_Regular';
  src: url("../fonts/Myriad_Pro_Regular.otf") format("opentype"); }

@font-face {
  font-family: 'StreetscriptRedux';
  src: url("../fonts/StreetscriptRedux.otf") format("opentype"); }

body {
  font-family: "Myriad_Pro_Regular", sans-serif;
  font-size: 26px; }
  body a {
    text-decoration: none; }
  body input::-webkit-input-placeholder {
    color: #ddd;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.3s ease; }
  body input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  body input:-moz-placeholder {
    color: #ddd;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.3s ease; }
  body input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  body input::-moz-placeholder {
    color: #ddd;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.3s ease; }
  body input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }
  body input:-ms-input-placeholder {
    color: #ddd;
    font-style: italic;
    opacity: 1;
    transition: opacity 0.3s ease; }
  body input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease; }

.container {
  min-height: calc(100vh - 631px); }

.toolbar {
  height: 102px; }
  .toolbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 102px; }
    .toolbar .content a, .toolbar .content nav {
      display: inline-block;
      color: #fff;
      cursor: pointer; }
      .toolbar .content a:hover, .toolbar .content nav:hover {
        color: #6acdb1; }
      .toolbar .content a:active, .toolbar .content nav:active {
        color: #ffb084; }
    .toolbar .content .content__left {
      margin-left: 4%; }
    .toolbar .content .content__center {
      margin-left: -123px; }
    .toolbar .content .content__right {
      margin-right: 4%; }
    .toolbar .content .services-nav {
      margin-left: 25px; }
    .toolbar .content i {
      margin-left: 0;
      margin-right: 4px; }
    .toolbar .content .logo {
      font-family: "StreetscriptRedux", sans-serif;
      color: #ffb084;
      font-size: 65px;
      letter-spacing: 3.4px; }
      .toolbar .content .logo:hover {
        color: #6acdb1; }
      .toolbar .content .logo:active {
        color: #51a288; }
    .toolbar .content .registration {
      margin-right: 25px; }

.task-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 714px;
  margin-top: -102px;
  background-color: #818181;
  background-image: url("../img/task-box-shadow.png"), url("../img/task-box.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%; }
  .task-block h1 {
    margin: 0;
    color: #fff;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 6.5px;
    line-height: 42px; }
  .task-block h4 {
    margin: 41px 0 0 0;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px; }
  .task-block form {
    height: 80px;
    overflow: hidden;
    margin: 41px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    box-shadow: 6px 6px 15px rgba(106, 205, 177, 0.3), -6px -6px 15px rgba(106, 205, 177, 0.3), -6px 6px 15px rgba(106, 205, 177, 0.3), 6px -6px 15px rgba(106, 205, 177, 0.3); }
  .task-block input[type="text"], .task-block input[type="submit"] {
    outline: none; }
  .task-block input[type="text"] {
    width: 627px;
    padding: 24px 40px;
    border: 3px solid #fff;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-right: none; }
    .task-block input[type="text"]::-webkit-input-placeholder {
      font-style: normal; }
    .task-block input[type="text"]:-moz-placeholder {
      font-style: normal; }
    .task-block input[type="text"]::-moz-placeholder {
      font-style: normal; }
    .task-block input[type="text"]:-ms-input-placeholder {
      font-style: normal; }
  .task-block input[type="submit"] {
    padding: 20px 15px;
    border: 3px solid #6acdb1;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-left: none;
    font-size: 33px;
    color: #fff;
    letter-spacing: -1px;
    background-color: #6acdb1;
    cursor: pointer; }
    .task-block input[type="submit"]:hover {
      background-color: #51a288;
      border: 3px solid #51a288;
      border-left: none;
      transition: 0.5s; }
    .task-block input[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }
  .task-block .sample {
    width: 942px;
    color: #818181;
    font-size: 19.43px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 42px;
    text-align: left; }

.questions {
  display: block;
  width: 130px;
  margin: -72px auto 0 auto;
  padding-bottom: 7px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffb084; }
  .questions:hover {
    color: #6acdb1; }
  .questions:hover span {
    transform: rotate(0deg); }
  .questions:active {
    color: #51a288; }
  .questions:active span {
    transform: rotate(0deg); }
  .questions span {
    display: inline-block;
    font-size: 57px;
    color: #fff;
    transform: rotate(21deg); }

.advantages {
  display: flex;
  justify-content: center; }
  .advantages .advantages__item {
    max-width: 280px;
    margin: 145px 80px 93px 80px;
    color: #424242;
    text-align: center; }
    .advantages .advantages__item h2 {
      margin-bottom: 10px;
      font-size: 37px;
      letter-spacing: 2.8px; }
    .advantages .advantages__item p {
      margin: 0;
      font-size: 19px;
      letter-spacing: 0.4px; }

.how-it-works {
  background: #ffb084; }
  .how-it-works h2 {
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 68px;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 4px; }
  .how-it-works .scheme {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .how-it-works .scheme img {
      width: 90%;
      padding: 20px 30px 30px 30px; }

.services {
  text-align: center; }
  .services h2 {
    margin-top: 20px;
    margin-bottom: 19px;
    font-size: 73px;
    font-weight: 700;
    letter-spacing: 1.8px; }
  .services .services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 40px auto;
    color: #484848; }
    .services .services__wrapper .services__list {
      width: 280px;
      margin: 0 10px;
      padding: 10px; }
    .services .services__wrapper h3 {
      font-size: 30px;
      text-align: left; }
    .services .services__wrapper .list-link {
      display: block;
      text-align: left;
      font-size: 20px;
      color: #484848;
      line-height: 30px; }
      .services .services__wrapper .list-link:last-child {
        margin-top: 20px;
        font-weight: 700; }
      .services .services__wrapper .list-link:hover {
        color: #6acdb1; }
      .services .services__wrapper .list-link:active {
        color: #ffb084; }

.link-btn {
  display: inline-block;
  margin: 10px auto 60px auto;
  padding: 10px 45px;
  font-size: 40px;
  color: #6acdb1;
  letter-spacing: 1px;
  border: 1px solid #6acdb1;
  border-radius: 10px;
  transition: 0.5s; }
  .link-btn:hover {
    color: #fff;
    background-color: #6acdb1;
    transition: 0.5s; }
  .link-btn:active {
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }

.footer {
  color: #fff;
  background-image: url("../img/footer-shadow.png"), url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%; }
  .footer .footer__content {
    display: flex;
    justify-content: space-around;
    margin: 0 10%; }
  .footer .footer__block {
    margin: 0 10px 0 10px; }
    .footer .footer__block h3 {
      font-size: 27px;
      font-weight: 700;
      letter-spacing: 0.7px;
      text-align: left; }
    .footer .footer__block p {
      font-size: 22px; }
  .footer .footer-link {
    display: block;
    font-size: 22px;
    text-align: left;
    color: #fff;
    line-height: 40px; }
    .footer .footer-link:hover {
      color: #6acdb1; }
    .footer .footer-link:active {
      color: #ffb084; }

.footer__socials-logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 165px auto 0 auto; }

.socials {
  display: flex;
  justify-content: space-between;
  width: 254px;
  padding-top: 7px; }
  .socials .socials__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center 54%; }
    .socials .socials__item:hover {
      background-color: #6acdb1; }
    .socials .socials__item:active {
      background-color: #ffb084; }
  .socials .facebook {
    background-image: url("../img/facebook.svg"); }
  .socials .twitter {
    background-image: url("../img/twitter.svg"); }
  .socials .vk {
    background-image: url("../img/vk.svg"); }
  .socials .google-plius {
    background-image: url("../img/google-plius.svg"); }
  .socials .smile {
    background-image: url("../img/smile.svg"); }

.footer__logo {
  display: block;
  font-family: "StreetscriptRedux", sans-serif;
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px; }
  .footer__logo:hover {
    color: #ffb084; }
  .footer__logo:active {
    color: #6acdb1; }

.footer__item {
  width: 254px;
  height: 10px; }

.copyright {
  width: 400px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1px; }

.toolbar-color {
  background-color: #575757; }

.bread-crumbs__link {
  display: inline-block;
  margin-top: 20px;
  padding-left: 4%;
  font-size: 24px;
  color: #575757;
  letter-spacing: 0.6px; }
  .bread-crumbs__link:hover {
    color: #6acdb1; }
  .bread-crumbs__link:active {
    color: #ffb084; }

.h1 {
  margin-top: 22px;
  font-size: 57.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #575757;
  letter-spacing: 1.4px; }

.form-block {
  display: flex;
  justify-content: flex-start;
  max-width: 1515px;
  margin: 0 auto; }

.note {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #9a9a9a;
  letter-spacing: 0.6px; }

.img-form {
  width: 315px;
  height: 455px;
  margin: 77px 30px 40px 19px;
  text-align: center;
  background-image: url("../img/form.jpg"); }

.form-wrapper {
  max-width: 720px;
  margin: -37px 0 0 51px; }

.registration-block span {
  font-size: 29.76px;
  font-weight: 400;
  color: #9a9a9a;
  letter-spacing: 0.744px; }

.registration-block input[type="text"], .registration-block input[type="email"], .registration-block input[type="tel"], .registration-block input[type="password"] {
  display: block;
  width: 667px;
  margin: 5px 0 18px -5px;
  padding: 14px 24px;
  font-family: "Myriad_Pro_Regular", sans-serif;
  font-size: 29.76px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1px;
  border: 1px solid #575757;
  border-radius: 10px;
  outline: none; }

.registration-block .form__left-block {
  display: inline-block;
  margin-right: 23px; }
  .registration-block .form__left-block input[type="text"] {
    max-width: 294px; }

.registration-block .form__right-block {
  display: inline-block;
  margin-left: 5px; }
  .registration-block .form__right-block input[type="text"] {
    max-width: 294px; }

.registration-block .note-sm {
  margin-left: 360px;
  color: #bdbdbd;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.5px; }

.registration-block .eye {
  display: inline-block;
  width: 57px;
  height: 37px;
  background-image: url("../img/eye.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 60%; }

.registration-block .eye1 {
  margin: -69px -698px 59px 641px; }

.registration-block .eye2 {
  margin: -69px -698px 88px 641px; }

.registration-block input[type="checkbox"] {
  display: none; }

.registration-block .checkbox-custom {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
  margin: 25px 20px -16px -10px;
  border: 1px solid #575757;
  border-radius: 10px; }

.registration-block .checkbox:checked + .checkbox-custom {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 60%; }

.registration-block .terms-of-use {
  color: #9a9a9a;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.744px; }

.registration-block .terms-of-use-link {
  text-decoration: underline; }

.registration-block .link-btn {
  display: block;
  border-width: 1px;
  margin: 48px auto 60px auto;
  padding: 19px 45px;
  font-size: 34px;
  letter-spacing: 0;
  background-color: #fff; }
  .registration-block .link-btn:hover {
    background-color: #6acdb1;
    outline: none; }

.authorization-block {
  width: 720px;
  margin: 0 auto; }

.authorization-input {
  width: 667px;
  margin-bottom: 45px;
  padding: 24px 26px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #575757;
  outline: none; }

.lg__fr__btn {
  display: flex;
  justify-content: space-between; }

.login-btn, .forgot-btn {
  display: block;
  width: 339px;
  padding: 18px 0;
  border-radius: 10px;
  font-size: 34.1px;
  background: transparent;
  letter-spacing: 0.9px; }
  .login-btn:active, .forgot-btn:active {
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }

.login-btn {
  border: 1px solid #6acdb1;
  color: #6acdb1;
  outline: none; }
  .login-btn:hover {
    background: #6acdb1;
    color: white;
    transition: 0.5s; }

.forgot-btn {
  text-align: center;
  border: 1px solid #ff706d;
  color: #ff706d; }
  .forgot-btn:hover {
    color: #fff;
    background: #ff706d;
    transition: 0.5s; }

.link-to-registration {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.91;
  letter-spacing: 0.6px;
  color: #9a9a9a;
  text-align: center; }
  .link-to-registration a {
    border-bottom: 1px solid;
    color: #6acdb1; }
    .link-to-registration a:hover {
      color: #ffb084; }

.create-an-assignment {
  width: 720px;
  margin: 0 auto; }
  .create-an-assignment select {
    width: 344px;
    height: 64px;
    padding-left: 26px;
    color: #9a9a9a;
    border-radius: 10px;
    border: 1px solid #575757;
    outline: none; }
  .create-an-assignment .subcategory {
    margin-left: 26px; }
  .create-an-assignment textarea {
    position: relative;
    width: 667px;
    height: 158px;
    margin-top: -14px;
    padding: 20px 26px 20px 26px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #575757;
    resize: none;
    outline: none;
    z-index: 1; }

.short-description {
  width: 667px;
  height: 64px;
  margin-top: 45px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 10px;
  border: 1px solid #575757;
  outline: none; }

.sample-1 {
  margin-left: 26px;
  margin-top: -10px;
  font-size: 19.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: 0.5px;
  color: #818181; }
  .sample-1 span {
    font-weight: bold; }

.placeholder-textarea {
  position: absolute;
  margin-top: -210px;
  padding-left: 26px;
  padding-right: 26px;
  width: 670px;
  line-height: 0.5; }
  .placeholder-textarea p {
    letter-spacing: 0.5px;
    color: #ddd; }
  .placeholder-textarea p:nth-child(3), .placeholder-textarea p:nth-child(5) {
    font-size: 19.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1; }
  .placeholder-textarea p:nth-child(1) {
    font-size: 29.8px;
    font-style: italic; }
  .placeholder-textarea p:nth-child(3) {
    margin-top: 15px; }
  .placeholder-textarea p:nth-child(5) {
    margin-top: -5px; }

.price {
  width: 95px;
  height: 64px;
  margin-top: 41px;
  padding-left: 110px;
  padding-right: 26px;
  border-radius: 10px;
  border: 1px solid #575757;
  outline: none; }

.placeholder-price p {
  margin-left: 26px;
  margin-top: -74px;
  position: absolute;
  font-size: 29.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: 0.7px;
  color: #9a9a9a; }

.rouble {
  position: absolute;
  margin-top: -58px;
  margin-left: 230px;
  font-size: 45px;
  color: #cbcbcb; }

.date {
  width: 144px;
  height: 64px;
  padding-left: 16px;
  font-size: 15.5px;
  letter-spacing: 0.5px;
  color: #9a9a9a;
  border-radius: 10px;
  border: 1px solid #575757;
  outline: none; }

.date__calendar {
  width: 385px;
  margin-top: -68px;
  margin-left: 340px; }
  .date__calendar p:nth-child(1), .date__calendar p:nth-child(4) {
    position: absolute;
    font-size: 19.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 0.5px;
    color: #9a9a9a; }
  .date__calendar p:nth-child(1) {
    margin-top: -40px;
    margin-left: 58px; }
  .date__calendar p:nth-child(4) {
    margin-top: -108px;
    margin-left: 245px; }

._start {
  margin-left: 36px; }

._finish {
  margin-left: 15px; }

.icon-calendar-start {
  display: block;
  margin-top: -55px;
  margin-left: 146px; }

.icon-calendar-finish {
  display: block;
  margin-top: -55px;
  margin-left: 328px; }

.icon-calendar {
  position: absolute;
  font-size: 35px;
  color: #575757; }

.download-photo {
  height: 148px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 45px; }

.photo {
  width: 147px;
  height: 147px;
  border-radius: 10px;
  background-color: #cbcbcb;
  cursor: pointer; }
  .photo p {
    width: 120px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff;
    display: block;
    margin: -5px auto; }

.circle {
  width: 78px;
  height: 78px;
  margin: 10px auto;
  border: 1px solid #fff;
  border-radius: 50%; }

.plus {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 3em;
  color: #fff;
  margin: -10px 16px; }

.registration__block .first-name, .registration__block .last-name {
  width: 293px; }

.registration__block .last-name {
  margin-left: 20px; }

.registration__block input {
  width: 667px;
  height: 64px;
  margin-bottom: 45px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 10px;
  border: 1px solid #575757;
  outline: none; }

.registration__block span {
  position: absolute;
  margin-left: 520px;
  margin-top: -35px;
  font-size: 18.2px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: 0.5px;
  color: #bdbdbd;
  float: right; }
  .registration__block span:hover {
    cursor: pointer;
    color: #575757; }

.publish {
  display: block;
  width: 339px;
  height: 78px;
  border-radius: 10px;
  border: solid 1px #6acdb1;
  background: transparent;
  font-size: 34.1px;
  letter-spacing: 0.9px;
  color: #6acdb1;
  outline: none;
  margin: 0 auto; }
  .publish:hover {
    background: #6acdb1;
    color: white;
    transition: 0.5s; }
  .publish:active {
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }

.policy {
  font-size: 15.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 40px; }
  .policy a:nth-child(3) {
    text-decoration: underline;
    color: #575757; }
  .policy a:nth-child(5) {
    text-decoration: none;
    color: #ffb084; }
