@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadProRegular.otf") format("opentype"); }

@font-face {
  font-family: 'StreetscriptRedux';
  src: url("../fonts/StreetscriptRedux.otf") format("opentype"); }

.page-common {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 26px; }
  .page-common a {
    text-decoration: none; }
  .page-common input {
    outline: none; }
    .page-common input::-webkit-input-placeholder {
      color: #ddd;
      font-style: italic;
      opacity: 1;
      transition: opacity 0.3s ease; }
    .page-common input:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease; }
    .page-common input:-moz-placeholder {
      color: #ddd;
      font-style: italic;
      opacity: 1;
      transition: opacity 0.3s ease; }
    .page-common input:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease; }
    .page-common input::-moz-placeholder {
      color: #ddd;
      font-style: italic;
      opacity: 1;
      transition: opacity 0.3s ease; }
    .page-common input:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease; }
    .page-common input:-ms-input-placeholder {
      color: #ddd;
      font-style: italic;
      opacity: 1;
      transition: opacity 0.3s ease; }
    .page-common input:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease; }

.container {
  min-height: calc(100vh - 631px); }

.header {
  height: 102px; }
  .header--color {
    background-color: #575757; }

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px; }
  .content__left {
    width: 355px;
    margin-left: 4%; }
  .content__right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 355px;
    margin-right: 4%;
    text-align: right; }
  .content__nav, .content a {
    display: inline-block;
    color: #fff;
    cursor: pointer; }
    .content__nav:hover, .content a:hover {
      color: #6acdb1; }
    .content__nav:active, .content a:active {
      color: #ffb084; }
  .content__nav {
    margin-left: 25px; }
  .content i {
    margin-left: 0;
    margin-right: 4px; }
  .content__registration {
    margin-right: 25px; }

.logo {
  font-family: "StreetscriptRedux", sans-serif; }
  .logo--header {
    color: #ffb084;
    font-size: 65px;
    letter-spacing: 3.4px; }
    .logo--header:hover {
      color: #6acdb1; }
    .logo--header:active {
      color: #51a288; }
  .logo--footer {
    display: block;
    margin-left: 112px;
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px; }
    .logo--footer:hover {
      color: #ffb084; }
    .logo--footer:active {
      color: #6acdb1; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 714px;
  margin-top: -102px;
  background-color: #818181;
  background-image: url("../img/banner-shadow.png"), url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%; }
  .banner h1 {
    margin: 0;
    color: #fff;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 6.5px;
    line-height: 42px; }
  .banner h4 {
    margin: 41px 0 0 0;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px; }
  .banner form {
    height: 80px;
    overflow: hidden;
    margin: 41px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    transition: box-shadow 0.3s ease; }
    .banner form:hover {
      box-shadow: 6px 6px 15px rgba(106, 205, 177, 0.4), -6px -6px 15px rgba(106, 205, 177, 0.4), -6px 6px 15px rgba(106, 205, 177, 0.4), 6px -6px 15px rgba(106, 205, 177, 0.4);
      transition: box-shadow 0.3s ease; }
  .banner input[type="text"], .banner input[type="submit"] {
    outline: none; }
  .banner input[type="text"] {
    width: 627px;
    padding: 24px 40px;
    border: 3px solid #fff;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-right: none; }
    .banner input[type="text"]::-webkit-input-placeholder {
      font-style: normal; }
    .banner input[type="text"]:-moz-placeholder {
      font-style: normal; }
    .banner input[type="text"]::-moz-placeholder {
      font-style: normal; }
    .banner input[type="text"]:-ms-input-placeholder {
      font-style: normal; }
  .banner input[type="submit"] {
    padding: 20px 15px;
    border: 3px solid #6acdb1;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-left: none;
    font-size: 33px;
    color: #fff;
    letter-spacing: -1px;
    background-color: #6acdb1;
    cursor: pointer; }
    .banner input[type="submit"]:hover {
      background-color: #51a288;
      border: 3px solid #51a288;
      border-left: none;
      transition: 0.5s; }
    .banner input[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }
  .banner__input--focused {
    box-shadow: 6px 6px 15px rgba(106, 205, 177, 0.4), -6px -6px 15px rgba(106, 205, 177, 0.4), -6px 6px 15px rgba(106, 205, 177, 0.4), 6px -6px 15px rgba(106, 205, 177, 0.4); }
  .banner__sample {
    width: 942px;
    color: #818181;
    font-size: 19.43px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 42px;
    text-align: left;
    font-style: italic;
    font-family: "MyriadProRegular", sans-serif; }

.questions {
  display: block;
  width: 130px;
  margin: -72px auto 0 auto;
  padding-bottom: 7px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffb084; }
  .questions:hover {
    color: #6acdb1; }
  .questions:hover span {
    transform: rotate(0deg); }
  .questions:active {
    color: #51a288; }
  .questions:active span {
    transform: rotate(0deg); }
  .questions span {
    display: inline-block;
    font-size: 57px;
    color: #fff;
    transform: rotate(21deg); }

.advantages {
  display: flex;
  justify-content: center; }
  .advantages__item {
    max-width: 280px;
    margin: 145px 80px 93px 80px;
    color: #424242;
    text-align: center; }
    .advantages__item h2 {
      margin-bottom: 10px;
      font-size: 37px;
      letter-spacing: 2.8px; }
    .advantages__item p {
      margin: 0;
      font-size: 19px;
      letter-spacing: 0.4px; }

.how-it-works {
  background: #ffb084; }
  .how-it-works h2 {
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 68px;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: 4px; }
  .how-it-works__scheme {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .how-it-works__scheme img {
      width: 90%;
      padding: 20px 30px 30px 30px; }

.services {
  text-align: center; }
  .services h2 {
    margin-top: 20px;
    margin-bottom: 19px;
    font-size: 73px;
    font-weight: 700;
    letter-spacing: 4px; }
  .services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 40px auto;
    color: #484848; }
  .services__list {
    width: 280px;
    margin: 0 10px;
    padding: 10px; }
  .services h3 {
    font-size: 30px;
    text-align: left; }
  .services__link {
    display: block;
    text-align: left;
    font-size: 20px;
    color: #484848;
    line-height: 30px; }
    .services__link:last-child {
      margin-top: 20px;
      font-weight: 700; }
    .services__link:hover {
      color: #6acdb1; }
    .services__link:active {
      color: #ffb084; }

.btn {
  padding: 18px 45px;
  font-size: 34.1px;
  font-family: "MyriadProRegular", sans-serif;
  letter-spacing: 0.9px;
  border-radius: 10px;
  transition: 0.5s; }
  .btn:active {
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }
  .btn--default {
    color: #6acdb1;
    border: 1px solid #6acdb1; }
    .btn--default:hover {
      color: #fff;
      background-color: #6acdb1;
      transition: 0.5s; }
  .btn--error {
    color: #ff706d;
    border: 1px solid #ff706d; }
    .btn--error:hover {
      color: #fff;
      background-color: #ff706d;
      transition: 0.5s; }
  .btn--block {
    display: block; }
  .btn--inline-block {
    display: inline-block; }
  .btn--centered {
    margin: 48px auto 60px auto; }
  .btn--submit {
    background-color: transparent; }
  .btn--auth {
    width: 314px;
    padding: 18px 0;
    text-align: center; }
  .btn--password-recovery {
    display: block;
    margin: 40px auto 192px auto; }
  .btn--new-pass {
    display: block;
    margin: 56px auto 58px auto;
    padding: 18px 59px;
    letter-spacing: 0.5px; }
  .btn--task {
    margin: 24px auto 40px auto; }

.footer {
  color: #fff;
  background-image: url("../img/footer-shadow.png"), url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%; }
  .footer__content {
    display: flex;
    justify-content: space-around;
    margin: 0 10%; }
  .footer__block {
    margin: 0 10px 0 10px; }
    .footer__block h3 {
      font-size: 27px;
      font-weight: 700;
      letter-spacing: 0.7px;
      text-align: left; }
  .footer__link {
    display: block;
    font-size: 22px;
    text-align: left;
    color: #fff;
    line-height: 40px; }
    .footer__link:hover {
      color: #6acdb1; }
    .footer__link:active {
      color: #ffb084; }
  .footer__social-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 1005px;
    margin: 165px auto 0 auto; }
  .footer__copyright {
    padding: 7px 0 20px 0;
    font-size: 22px;
    text-align: center; }

.social {
  display: flex;
  justify-content: space-between;
  width: 254px;
  padding-top: 7px; }
  .social__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center 54%; }
    .social__item:hover {
      background-color: #6acdb1; }
    .social__item:active {
      background-color: #ffb084; }
  .social__fb {
    background-image: url("../img/facebook.svg"); }
  .social__twit {
    background-image: url("../img/twitter.svg"); }
  .social__vk {
    background-image: url("../img/vk.svg"); }
  .social__g-plus {
    background-image: url("../img/google-plius.svg"); }
  .social__smile {
    background-image: url("../img/smile.svg"); }

.bread-crumbs__link {
  display: inline-block;
  margin-top: 26px;
  padding-left: 4%;
  font-size: 24px;
  color: #575757;
  letter-spacing: 0.6px; }
  .bread-crumbs__link:hover {
    color: #6acdb1; }
  .bread-crumbs__link:active {
    color: #ffb084; }

.title {
  margin-top: 22px;
  font-size: 57.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #575757;
  letter-spacing: 1.4px; }
  .title--orders {
    letter-spacing: 4.4px;
    margin-bottom: 80px; }

.form-wrapper {
  max-width: 720px;
  margin: 0 auto; }

.form {
  width: 100%; }
  .form__note {
    margin: -10px 0 20px 0;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9a9a9a;
    letter-spacing: 0.6px; }
  .form__left-block {
    display: inline-block;
    width: calc(50% - 15px);
    margin-right: 24px; }
  .form__right-block {
    display: inline-block;
    width: calc(50% - 15px); }
  .form__span {
    margin-left: 7px;
    font-size: 29.76px;
    font-weight: 400;
    color: #9a9a9a;
    letter-spacing: 0.744px; }
  .form__note-sm {
    margin-left: 360px;
    color: #bdbdbd;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.12px; }
    .form__note-sm--new-pass {
      margin-left: 486px; }
  .form--authorization {
    max-width: 667px;
    margin: 0 auto; }
  .form__elem-wrapper {
    display: flex;
    justify-content: space-between; }
  .form__link {
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.91;
    letter-spacing: 0.6px;
    color: #9a9a9a;
    text-align: center; }
    .form__link a {
      border-bottom: 1px solid;
      color: #6acdb1; }
      .form__link a:hover {
        color: #ffb084; }
  .form__sample {
    margin: -10px 0 0 26px;
    font-size: 19.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 0.5px;
    color: #818181; }
    .form__sample span {
      font-weight: bold; }
  .form__placeholder-textarea {
    position: absolute;
    margin-top: -205px;
    padding-left: 26px;
    padding-right: 26px;
    width: 670px;
    line-height: 0.5; }
    .form__placeholder-textarea p {
      letter-spacing: 0.5px;
      color: #ddd; }
    .form__placeholder-textarea p:nth-child(3), .form__placeholder-textarea p:nth-child(5) {
      font-size: 19.4px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1; }
    .form__placeholder-textarea p:nth-child(1) {
      font-size: 29.8px;
      font-style: italic; }
    .form__placeholder-textarea p:nth-child(3) {
      margin-top: 15px; }
    .form__placeholder-textarea p:nth-child(5) {
      margin-top: -5px; }
  .form__placeholder-price {
    margin-left: 26px;
    margin-top: -90px;
    position: absolute;
    font-size: 29.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 0.7px;
    color: #9a9a9a; }
  .form__rouble {
    position: absolute;
    margin-top: 53px;
    font-size: 45px;
    color: #cbcbcb; }
  .form__date-wrapper {
    width: 385px;
    margin-top: -89px;
    margin-left: 340px; }
    .form__date-wrapper p:nth-child(1), .form__date-wrapper p:nth-child(4) {
      position: absolute;
      font-size: 19.4px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.63;
      letter-spacing: 0.5px;
      color: #9a9a9a; }
    .form__date-wrapper p:nth-child(1) {
      margin-top: -35px;
      margin-left: 58px; }
    .form__date-wrapper p:nth-child(4) {
      margin-top: -122px;
      margin-left: 245px; }
  .form__download {
    height: 148px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 18px; }
  .form__note-sm-app {
    margin-left: 470px; }
  .form--password-recovery {
    max-width: 717px;
    margin: 0px auto 30px auto; }
  .form-new-pass{
    margin: 77px auto 30px auto
  }

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 18px 0;
  padding: 14px 24px;
  font-family: "MyriadProRegular", sans-serif;
  font-size: 29.76px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1px;
  border: 1px solid #575757;
  border-radius: 10px; }
  .input--authorization {
    margin-bottom: 45px;
    text-align: center; }
  .input--app {
    margin: 27px 0 0 0; }
  .input--application {
    margin: 0 0 45px 0; }
  .input--app-phone {
    margin-bottom: 16px; }
  .input--sm {
    margin: 27px 0 45px 0; }
  .input--textarea {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 6px;
    padding: 20px 26px 20px 26px;
    background-color: transparent;
    outline: none;
    resize: none;
    z-index: 1; }
  .input--price {
    display: inline-block;
    width: 233px;
    margin-top: 45px;
    padding-left: 110px;
    padding-right: 26px; }
  .input--date {
    display: inline-block;
    width: 162px;
    height: 64px;
    padding-left: 16px;
    font-size: 15.5px;
    letter-spacing: 0.5px; }
  .input--date-start {
    margin-left: 36px; }
  .input--date-finish {
    margin-left: 15px; }
  .input--new-pass {
    margin-bottom: -3px; }
  .input--new-pass-confirm {
    margin-top: 29px; }

.checkbox__input {
  display: none; }

.checkbox__span {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
  margin: 25px 20px -16px -10px;
  border: 1px solid #575757;
  border-radius: 10px; }

.checkbox__label {
  color: #9a9a9a;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.744px; }

.checkbox a {
  text-decoration: underline; }

.checkbox__input:checked + .checkbox__span {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 60%; }

.select {
  padding: 13px 24px;
  color: #9a9a9a;
  font-style: normal;
  outline: none; }

.icon-calendar {
  position: absolute;
  font-size: 35px;
  color: #575757; }
  .icon-calendar__start {
    display: block;
    margin-top: -70px;
    margin-left: 146px; }
  .icon-calendar__finish {
    display: block;
    margin-top: -70px;
    margin-left: 328px; }

.download {
  width: 147px;
  height: 147px;
  border-radius: 10px;
  background-color: #cbcbcb;
  cursor: pointer; }
  .download p {
    display: block;
    width: 120px;
    margin: -5px auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: 0.4px;
    text-align: center;
    color: #fff; }
  .download__circle {
    width: 78px;
    height: 78px;
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 50%; }
  .download__plus {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 3em;
    color: #fff;
    margin: -10px 16px; }

.policy {
  font-size: 15.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 40px;
  margin-top: -50px; }
  .policy a:nth-child(3) {
    text-decoration: underline;
    color: #575757; }
  .policy a:nth-child(5) {
    text-decoration: none;
    color: #ffb084; }

.dropdown-toggle {
  position: relative;
  width: 38px;
  height: 31px;
  cursor: pointer; }
  .dropdown-toggle__icon-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 38px;
    height: 25px;
    margin-top: 4px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff; }
  .dropdown-toggle__line {
    width: 38px;
    height: 3px;
    background-color: #fff; }
  .dropdown-toggle__notifications {
    position: absolute;
    top: -4px;
    left: 29px;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%; }

.dropdown {
  display: none;
  position: absolute;
  top: 43px;
  right: -2px;
  margin: 0;
  width: 179px;
  height: 172px;
  text-align: left;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #575757;
  border-radius: 10px;
  padding: 10px 5px;
  list-style-type: none; }
  .dropdown a {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    line-height: 32px; }
    .dropdown a:hover {
      color: #6acdb1; }
      .dropdown a:hover i {
        color: #818181; }
    .dropdown a:active {
      color: #ffb084; }
      .dropdown a:active i {
        color: #ffb084; }
  .dropdown__item:nth-child(1) {
    margin-top: 8px; }
    .dropdown__item:nth-child(1) span {
      display: block;
      position: absolute;
      top: -50px;
      right: -10px;
      width: 80px;
      height: 50px;
      background-color: transparent; }
  .dropdown__icon {
    font-size: 21px;
    padding-left: 11px;
    padding-right: 3px;
    padding-top: 3px;
    color: #cbcbcb; }
  .dropdown__visible {
    display: block; }
  .dropdown--active a {
    color: #ffb084; }

.orders-btn {
  width: 350px;
  height: 49px;
  margin: 0 auto;
  box-sizing: border-box;
  cursor: pointer; }
  .orders-btn__item {
    display: inline-block;
    margin: 0;
    width: 174px;
    height: 47px;
    color: #575757;
    font-size: 15px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.4px;
    text-align: center;
    background-color: #fff; }
    .orders-btn__item:hover {
      color: #fff;
      background-color: #6acdb1;
      transition: 0.5s; }
  .orders-btn__left {
    border-radius: 10px 0 0 10px;
    border: 1px solid #6acdb1;
    border-right: none; }
  .orders-btn__right {
    border-radius: 0 10px 10px 0;
    border: 1px solid #6acdb1;
    border-left: none; }
  .orders-btn .orders-btn__active {
    color: #fff;
    background-color: #6acdb1; }

.tab-block-container {
  display: none;
  width: 957px;
  margin: 61px auto 30px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #575757; }
  .tab-block-container--active {
    display: block; }

.tab {
  display: inline-block;
  height: 48px;
  color: #575757;
  border-bottom: 1px solid #575757;
  border-right: 1px solid #575757;
  font-size: 18px;
  line-height: 48.32px;
  letter-spacing: 1.6px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer; }
  .tab--performer {
    width: 319px; }
  .tab--customer {
    width: 239px; }
    .tab--customer:nth-child(4) {
      width: 240px; }
  .tab--last {
    border-right: none; }
  .tab--performer-active {
    color: #fff;
    background-color: #575757;
    transition: 0.5s; }
  .tab--customer-active {
    color: #fff;
    background-color: #575757;
    transition: 0.5s; }
  .tab:not(.tab--active):hover {
    color: #fff;
    background-color: #575757;
    transition: 0.5s; }

.tab-section {
  display: none;
  padding: 10px; }
  .tab-section__content {
    margin: 16px 0 0 0;
    color: #575757;
    font-size: 31px;
    font-weight: 400;
    line-height: 80.69px;
    letter-spacing: 2.2px;
    text-align: center; }
  .tab-section__note {
    display: block;
    margin: -24px auto 35px auto;
    color: #3698fd;
    font-size: 18px;
    line-height: 48.32px;
    letter-spacing: 1.6px;
    text-align: center; }
  .tab-section__face {
    display: block;
    width: 46px;
    height: 46px;
    margin: -10px auto 25px auto; }
  .tab-section__link {
    display: block;
    margin-top: -9px;
    text-align: center;
    font-size: 30px;
    line-height: 57px;
    letter-spacing: 2.3px;
    color: #575757;
    border-bottom: 1px solid #575757; }
  .tab-section--performer-active {
    display: block; }
  .tab-section--customer-active {
    display: block; }

.subsection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  padding: 0 33px;
  font-size: 18.41px;
  color: #575757;
  border-bottom: 1px solid #575757; }
  .subsection--accordion {
    display: block; }
  .subsection__left {
    text-align: left;
    cursor: pointer; }
  .subsection__right {
    text-align: right; }
  .subsection__title {
    max-width: 634px;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 2.3px;
    font-weight: 400;
    margin: 10px 0 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .subsection__title--accordion {
    display: inline-block; }
  .subsection__avatar {
    margin-bottom: 32px;
    float: left;
    width: 76px;
    height: 76px; }
    .subsection__avatar--accordion {
      margin-left: 54px; }
  .subsection__avatar-right {
    display: block;
    margin: 14px 0 0 95px; }
  .subsection__wrap {
    display: inline-block; }
  .subsection__fname {
    margin-top: 10px;
    margin-left: 16px;
    color: #42a4ff;
    letter-spacing: 1.3px; }
  .subsection__review {
    margin: 21px 0 0 16px;
    letter-spacing: 1.4px; }
  .subsection__btn-select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 43px;
    margin: 12px 0 3px 0;
    background-color: #6acdb1;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 5px; }
    .subsection__btn-select:hover {
      background-color: #fdc9ac; }
    .subsection__btn-select:active {
      box-shadow: inset 0 1px 3px rgba(0, 10, 20, 0.5), 0 1px #535e68, 0 0 1px #56606a; }
    .subsection__btn-select--active {
      background-color: #fdc9ac; }
    .subsection__btn-select--top {
      color: #575757;
      background-color: #fff;
      border: 1px solid #ff6c65; }
      .subsection__btn-select--top:hover {
        color: #fff;
        background-color: #ff6c65;
        border: 1px solid #ff6c65; }
    .subsection__btn-select--bottom {
      color: #575757;
      background-color: #fff;
      border: 1px solid #fdc9ac; }
      .subsection__btn-select--bottom:hover {
        color: #fff;
        background-color: #fdc9ac;
        border: 1px solid #fdc9ac; }
  .subsection__note {
    width: 117px;
    margin: 3px auto;
    color: #9b9b9b;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center; }
  .subsection__icon-rouble {
    margin: 0 0 0 10px; }
  .subsection__date {
    margin: 0 -2px;
    letter-spacing: 1.4px; }
  .subsection__location {
    margin: 10px 0;
    letter-spacing: 1.4px; }
  .subsection__expect-response {
    padding-right: 10px;
    color: #6acdb1; }
  .subsection__header {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    width: 100%; }
    .subsection__header .subsection__left {
      margin-left: -40px; }
    .subsection__header .price {
      margin-bottom: 23px; }
  .subsection__content {
    height: 0;
    overflow: hidden;
    -moz-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out; }
  .subsection .subsection__content--visible {
    height: auto;
    margin-left: 16px;
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.9px;
    word-spacing: -0.9px; }
  .subsection__content-left {
    display: inline-block;
    width: 650px; }
  .subsection__content-right {
    display: inline-block;
    width: 198px;
    text-align: right;
    vertical-align: top; }
  .subsection__offers {
    margin: -27px 0 0 0;
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 400;
    line-height: 35.03px;
    letter-spacing: 1.2px; }
    .subsection__offers p {
      display: inline-block;
      margin: 0 0 0 56px; }
    .subsection__offers span {
      display: inline-block;
      color: #3698fd; }
  .subsection__edit {
    display: inline-block;
    position: relative; }
  .subsection__description {
    margin: 7px 0 0 0;
    max-width: 634px; }
  .subsection__finish-date {
    margin: -19px 0 20px 0; }
  .subsection .icon-clock {
    padding-right: 5px;
    font-size: 20px; }
  .subsection .icon-location {
    padding-right: 5px;
    font-size: 24px;
    color: #ff706d; }
  .subsection .icon-eye {
    font-size: 18px; }
  .subsection .icon-pencil {
    position: absolute;
    top: -43px;
    left: 15px;
    font-size: 21px;
    color: #cbcbcb; }
  .subsection__address {
    margin: 19px 0 27px -6px; }
    .subsection__address .icon-location {
      padding-right: 0; }
  .subsection__img-container {
    max-width: 534px; }
  .subsection__img {
    margin-right: 8px;
    width: 89px;
    height: 89px; }
  .subsection__phone {
    margin: 13px 0 -3px 0;
    font-weight: bold; }
  .subsection__finish {
    display: inline-block;
    width: 39px;
    height: 34px;
    margin: 16px 48px 0 0; }
  .subsection__performer {
    margin: 11px auto;
    font-size: 18px;
    color: #ffb084;
    line-height: 18px;
    letter-spacing: 2px; }
  .subsection__performer-name {
    margin: 0 auto;
    font-size: 18px;
    color: #42a4ff;
    line-height: 18px;
    letter-spacing: 1.8px; }
  .subsection__performer-review {
    margin: 9px auto;
    font-size: 18px;
    color: #9b9b9b;
    line-height: 18px;
    letter-spacing: 1.8px; }
  .subsection__write-review {
    font-size: 23px;
    line-height: 80px;
    color: #53abff;
    letter-spacing: 1.6px; }
    .subsection__write-review:before {
      content: "";
      display: inline-block;
      margin: 0 15px -14px -50px;
      white-space: nowrap;
      width: 50px;
      height: 46px;
      background-image: url("../img/note.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 100%; }

.icon-thumbs-up-alt {
  font-size: 20px;
  color: #fdc9ac; }

.icon-thumbs-down-alt {
  font-size: 20px;
  color: #ff6c65; }

.icon-down-open-mini {
  display: inline-block; }

.price {
  display: inline-block;
  padding: 0 4px 0 47px;
  background-color: #fdc9ac;
  color: #fff;
  font-size: 26.66px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: right;
  border-radius: 5px;
  white-space: nowrap; }
  .price--subsection {
    margin: 12px 0 25px 0; }
  .price--task {
    margin-top: 10px; }

.info {
  margin: 91px 0 250px 0;
  font-size: 24px;
  line-height: 30px;
  color: #9a9a9a;
  letter-spacing: 0.6px;
  text-align: center; }
  .info__link {
    margin-bottom: 200px;
    display: block;
    color: #6acdb1;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.39px; }

.task-page-block {
  display: flex;
  justify-content: center; }

.task {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 53px auto; }
  .task__left {
    max-width: 740px; }
  .task__right {
    width: auto;
    padding-left: 30px;
    font-size: 18px;
    line-height: 28px;
    color: #575757;
    letter-spacing: 1.7px;
    word-spacing: -1px; }
    .task__right p {
      margin: 0; }
      .task__right p:first-child {
        margin-top: 16px; }
  .task__title-price-wrapper {
    display: flex;
    justify-content: space-between; }
  .task__title {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    color: #575757;
    letter-spacing: 4.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .task__title--offer {
    display: block;
    margin: 12px 0;
    font-size: 36px;
    letter-spacing: 1.8px; }
  .task__info {
    margin-top: 8px;
    font-size: 18px;
    color: #9b9b9b;
    letter-spacing: 1.6px; }
    .task__info span {
      margin-right: 10px;
      padding-right: 3px;
      line-height: 29px; }
  .task__open {
    color: #6acdb1;
    border-right: 1px solid #cbcbcb; }
  .task__close {
    color: #fa3043;
    border-right: 1px solid #cbcbcb; }
  .task__views {
    border-right: 1px solid #cbcbcb; }
  .task__category {
    margin: 0;
    font-size: 18px;
    color: #9b9b9b;
    letter-spacing: 1.6px;
    line-height: 29px; }
  .task__avatar {
    width: 120px;
    height: 120px;
    margin-top: 14px;
    margin-right: 11px; }
    .task__avatar--offer {
      width: 85px;
      height: 85px;
      margin-right: 3px; }
  .task__wrap {
    display: inline-block;
    margin-top: 13px;
    vertical-align: top;
    letter-spacing: 1px; }
    .task__wrap--offer {
      font-size: 13px;
      line-height: 19px;
      color: #9b9b9b; }
      .task__wrap--offer p {
        margin: 0; }
      .task__wrap--offer .task__fname--offer {
        margin-top: 10px; }
  .task__fname {
    margin-top: 0;
    color: #42a4ff;
    font-size: 22px;
    line-height: 34px; }
    .task__fname--offer {
      font-size: 16px;
      line-height: 27px; }
  .task__date {
    margin: 0;
    text-align: right;
    font-size: 15px;
    line-height: 1px;
    color: #9b9b9b; }
  .task__description {
    display: inline-block;
    width: 545px;
    margin: 43px 0 0 90px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.8px;
    color: #575757; }
  .task__contacts {
    margin: 7px 0 40px 90px;
    font-weight: bold;
    letter-spacing: 2.5px; }
  .task .icon-thumbs-up-alt {
    font-size: 18px; }
  .task .icon-thumbs-down-alt {
    font-size: 18px; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 113px 0 62px 0;
  font-size: 24px;
  color: #575757;
  border-radius: 10px;
  border: 1px solid #6acdb1;
  overflow: hidden; }
  .card__wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 10px 24px 0 24px; }
    .card__wrapper--bg {
      margin-top: -10px;
      padding: 0 24px 0 24px;
      background-color: #ecfffa; }
  .card__right--bg {
    padding-left: 56px; }
  .card h3 {
    margin: 0;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.47px; }
  .card p {
    margin: 23.5px 0;
    padding-left: 15px;
    line-height: 27px;
    letter-spacing: 0.52px; }
    .card p:first-child {
      margin-top: 12px; }
  .card__img-wrapper {
    margin: 37px 19px; }
  .card__img {
    margin-right: 9px; }
  .card .icon-rouble {
    color: #a5a5a5; }


/*****
     !!! Дополнение !!!
 *****/

/*****
      Страница Регистрации
 *****/
.registration-block .form-wrapper .answer{
  text-align: center;
  font-size: 29.76px;
  font-weight: 400;
  color: #9a9a9a;
  letter-spacing: 0.744px;
  margin-top: 18px;
}
.registration-block .form-wrapper .answer .timer{
  text-align: center;
  color: #9a9a9a;
  font-size: 300px;
  margin-top: 10px;
}

.loader{
  display: none;
  width: 100px;
  height: 100px;
  border: 12px solid #575757;
  border-radius: 50%;
  border-top-color: #ffb084;
  position: relative;
  left: 50%;
  margin-top: 119px;
  transform: translate(-50%,-50%);
  animation: 1s spin infinite linear;
}

@keyframes spin{
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*****
      Выведение ошибки на странице логин
 *****/

.authorization-error{
  margin: 0px 0 0px 388px;
  color: #FF7061;
  font-size: 19px;

}

/*****
      Выведение ошибки на странице восстановления пароля
 *****/
.recovery_message{
  margin: -30px 0 0px 548px;
  color: #FF7061;
  font-size: 22px;
  display: none;
}