
	<!--Все услуги-->

	<div class="all-services-block">

		<div class="all-services">
			<div class="services__left">
				<h2 class="all-services__title">Все задания</h2>

				<section class="services-subsection">

					<div class="services-subsection__left">
						<h2 class="services-subsection__title">Убрать 3-х квартиру</h2>
						<img src="../img/avatar1.jpg" alt="avatar" class="services-subsection__avatar">
						<div class="services-subsection__wrap">
							<p class="services-subsection__fname">
								Дмитрий
								<span class="services-subsection__sname">Б.</span>
							</p>
							<p class="services-subsection__review">
								Отзывы:
								<i class="icon-thumbs-up-alt"></i>
								<span class="services-subsection__like">5</span>
								<i class="icon-thumbs-down-alt"></i>
								<span class="services-subsection__dislike">0</span>
							</p>
						</div>
					</div>

					<div class="services-subsection__right">
						<p class="price services-price--subsection">
							3500
							<i class="icon-rouble services-subsection__icon-rouble"></i>
						</p>
						<p class="services-subsection__date">
							<i class="icon-clock"></i>
							До 23 июня 2018
						</p>
						<p class="services-subsection__location">
							<i class="icon-location"></i>
							Москва
						</p>
					</div>

				</section>

				<section class="services-subsection">

					<div class="services-subsection__left">
						<h2 class="services-subsection__title">Убрать 3-х квартиру</h2>
						<img src="../img/avatar1.jpg" alt="avatar" class="services-subsection__avatar">
						<div class="services-subsection__wrap">
							<p class="services-subsection__fname">
								Дмитрий
								<span class="services-subsection__sname">Б.</span>
							</p>
							<p class="services-subsection__review">
								Отзывы:
								<i class="icon-thumbs-up-alt"></i>
								<span class="services-subsection__like">5</span>
								<i class="icon-thumbs-down-alt"></i>
								<span class="services-subsection__dislike">0</span>
							</p>
						</div>
					</div>

					<div class="services-subsection__right">
						<p class="price services-price--subsection">
							3500
							<i class="icon-rouble services-subsection__icon-rouble"></i>
						</p>
						<p class="services-subsection__date">
							<i class="icon-clock"></i>
							До 23 июня 2018
						</p>
						<p class="services-subsection__location">
							<i class="icon-location"></i>
							Москва
						</p>
					</div>

				</section>

				<section class="services-subsection">

					<div class="services-subsection__left">
						<h2 class="services-subsection__title">Убрать 3-х квартиру</h2>
						<img src="../img/avatar1.jpg" alt="avatar" class="services-subsection__avatar">
						<div class="services-subsection__wrap">
							<p class="services-subsection__fname">
								Дмитрий
								<span class="services-subsection__sname">Б.</span>
							</p>
							<p class="services-subsection__review">
								Отзывы:
								<i class="icon-thumbs-up-alt"></i>
								<span class="services-subsection__like">5</span>
								<i class="icon-thumbs-down-alt"></i>
								<span class="services-subsection__dislike">0</span>
							</p>
						</div>
					</div>

					<div class="services-subsection__right">
						<p class="price services-price--subsection">
							3500
							<i class="icon-rouble services-subsection__icon-rouble"></i>
						</p>
						<p class="services-subsection__date">
							<i class="icon-clock"></i>
							До 23 июня 2018
						</p>
						<p class="services-subsection__location">
							<i class="icon-location"></i>
							Москва
						</p>
					</div>

				</section>


					<!--<div class="profile__review-expand">-->
						<!--Показать больше-->
					<!--</div>-->


			</div>  <!--profile__left end-->

			<div class="services__right">

				<form action="PHP" method="post">
					<input type="checkbox" name="allCategory" id="allCategory" checked> <label for="allCategory">Все
					категории</label><br>
					<input type="checkbox" name="technique" id="technique"> <label for="technique">Техника</label><br>
					<input type="checkbox" name="freeTime" id="freeTime"> <label for="freeTime">Свободное время</label><br>
					<input type="checkbox" name="homeServices" id="homeServices"> <label for="homeServices">Услуги по дому</label><br>
					<input type="checkbox" name="study" id="study"> <label for="study">Учеба</label><br>
					<input type="checkbox" name="transport" id="transport"> <label for="transport">Транспорт</label><br>
					<input type="checkbox" name="healthAndBeauty" id="healthAndBeauty"> <label for="healthAndBeauty">Красота и
					здоровье</label><br>
					<input type="checkbox" name="courierService" id="courierService"> <label for="courierService">Курьерские услуги</label><br>
				</form>

			</div>  <!--profile__right end-->

		</div>

	</div>  <!--profile-block end-->
</div>  <!--container end-->
<!--Все услуги end-->

<footer class="footer">
	<div class="footer__content">
		<section class="footer__block">
			<h3>Услуги</h3>
			<a href="#" class="footer__link">Техника</a>
			<a href="#" class="footer__link">Услуги для дома</a>
			<a href="#" class="footer__link">Транспорт</a>
			<a href="#" class="footer__link">Свободное время</a>
			<a href="#" class="footer__link">Учеба</a>
			<a href="#" class="footer__link">Красота и здоровье</a>
			<a href="#" class="footer__link">Все услуги: 777</a>
		</section>
		<section class="footer__block">
			<h3>Города</h3>
			<a href="#" class="footer__link">Москва</a>
			<a href="#" class="footer__link">Санкт-Петербург</a>
			<a href="#" class="footer__link">Калининград</a>
			<a href="#" class="footer__link">Симферополь</a>
			<a href="#" class="footer__link">Одесса</a>
			<a href="#" class="footer__link">Новосибирск</a>
			<a href="#" class="footer__link">Всего городов: 777</a>
		</section>
		<section class="footer__block">
			<h3>Поддержка</h3>
			<a href="#" class="footer__link">Популярные вопросы</a>
			<a href="#" class="footer__link">Задать вопрос</a>
		</section>
		<section class="footer__block">
			<h3>Контакты</h3>
			<p>+7-000-000-00-00</p>
			<p>+7-000-000-00-00</p>
			<p>solveproblem@sp.com</p>
		</section>
	</div>
	<div class="footer__social-logo-wrapper">
		<div class="social">
			<a href="#" class="social__item social__fb"></a>
			<a href="#" class="social__item social__twit"></a>
			<a href="#" class="social__item social__vk"></a>
			<a href="#" class="social__item social__g-plus"></a>
			<a href="#" class="social__item social__smile"></a>
		</div>
		<a href="index.html" class="logo logo--footer">#Solve&nbsp;Problem</a>
	</div>
	<div class="footer__copyright">Copyright&nbsp;2018&nbsp;www.solveproblem.ru</div>
</footer>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../js/calendarScript.js"></script>
</body>
</html>