  <div class="authorization-block">
    <h1 class="title"><i class="icon-user"></i>Авторизация</h1>

    <form action="#" method="post" class="form form--authorization">

      <input type="email" name="email" class="input input--authorization email" placeholder="E-mail адрес или телефон">
      <input type="password" name="password" class="input input--authorization password" placeholder="Пароль">

      <div class="form__elem-wrapper">
        <input type="button" name="login" class="btn btn--inline-block btn--default btn--submit btn--auth" value="Войти">
        <a href="#" class="btn btn--inline-block btn--error btn--auth">Забыли пароль?</a>
      </div>
      <h4 class="form__link">Вы еще не с нами? <a href="registration.html">Зарегистрируйтесь!</a></h4>

    </form>


  </div>
</div>