<footer class="footer">
  <div class="footer__content">
    <section class="footer__block">
      <h3>Услуги</h3>
      <a href="#" class="footer__link">Техника</a>
      <a href="#" class="footer__link">Услуги для дома</a>
      <a href="#" class="footer__link">Транспорт</a>
      <a href="#" class="footer__link">Свободное время</a>
      <a href="#" class="footer__link">Учеба</a>
      <a href="#" class="footer__link">Красота и здоровье</a>
      <a href="#" class="footer__link">Все услуги: 777</a>
    </section>
    <section class="footer__block">
      <h3>Города</h3>
      <a href="#" class="footer__link">Москва</a>
      <a href="#" class="footer__link">Санкт-Петербург</a>
      <a href="#" class="footer__link">Калининград</a>
      <a href="#" class="footer__link">Симферополь</a>
      <a href="#" class="footer__link">Одесса</a>
      <a href="#" class="footer__link">Новосибирск</a>
      <a href="#" class="footer__link">Всего городов: 777</a>
    </section>
    <section class="footer__block">
      <h3>Поддержка</h3>
      <a href="#" class="footer__link">Популярные вопросы</a>
      <a href="#" class="footer__link">Задать вопрос</a>
    </section>
    <section class="footer__block">
      <h3>Контакты</h3>
      <p>+7-000-000-00-00</p>
      <p>+7-000-000-00-00</p>
      <p>solveproblem@sp.com</p>
    </section>
  </div>
  <div class="footer__social-logo-wrapper">
    <div class="social">
      <a href="#" class="social__item social__fb"></a>
      <a href="#" class="social__item social__twit"></a>
      <a href="#" class="social__item social__vk"></a>
      <a href="#" class="social__item social__g-plus"></a>
      <a href="#" class="social__item social__smile"></a>
    </div>
    <a href="index.html" class="logo logo--footer">#Solve&nbsp;Problem</a>
  </div>
  <div class="footer__copyright">Copyright&nbsp;2018&nbsp;www.solveproblem.ru</div>
</footer>
<script src="js/effects.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/textarea_placeholder.js"></script>
<script src="js/tab-block-container.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/calendarScript.js"></script>
</body>
</html>