<body class="page-common">
  <div class="container">
    <header class="header">
      <div class="content">
        <div class="content__left">
          <a class="create__task" href="application.html">+&nbsp;Создать&nbsp;задание</a>
          <a class="all__tasks" href="#">Все задачи</a>
        </div>
        <div class="content__center">
          <a href="index.html" class="logo logo--header">#Solve&nbsp;Problem</a>
        </div>
        <div class="content__right">
          <a href="registration.html" class="content__registration">Регистрация</a>
          <a href="authorization.html" class="login">Войти</a>
        </div>
      </div>
    </header>