<!--ВОССТАНОВЛЕНИЕ ПАРОЛЯ-->

<div class="password-recovery-block">

  <h1 class="title title--orders">Восстановление пароля</h1>

  <!--Письмо на почту-->

  <form action="#" method="post" class="form form--password-recovery">
    <input type="email" name="email" class="input input--password-recovery email" placeholder="Ваш е-mail адрес">
    <input type="submit" class="btn btn--inline-block btn--default btn--submit btn--password-recovery" value="Отправить">
  </form>

  <!--Сообщение после отправки письма на почту-->

  <p class="info">
    На ваш e-mail адрес было отправлено письмо<br>
    с инструкцией по восстановлению пароля.<br>
    Проверьте ваш почтовый ящик<br>
    и следуйте инструкции.
  </p>

  <!--Новый пароль-->

  <form action="#" method="post" class="form form--password-recovery">
    <input type="password" class="input input--new-pass" name="password"
           placeholder="Введите новый пароль" autocomplete="off">
    <span class="form__note-sm form__note-sm--new-pass">Сгенерировать пароль</span>
    <input type="password" class="input input--new-pass-confirm" name="password-repeat"
           placeholder="Подтвердите пароль" autocomplete="off">
    <input type="submit" class="btn btn--inline-block btn--default btn--submit
             btn--new-pass" value="Сохранить">
  </form>

  <!--Новый пароль-->

  <p class="info">
    Ваш новый пароль был успешно создан.
    <a href="authorization.html" class="info__link">Войти</a>
  </p>

</div>  <!--password-recovery-block end-->
</div>  <!--container end-->
<!--ВОССТАНОВЛЕНИЕ ПАРОЛЯ end-->