<!--Мои заказы-->

<div class="orders-block">

  <h1 class="title title--orders">Мои заказы</h1>

  <div class="orders-btn">
    <div class="orders-btn__left orders-btn__item orders-btn__active">Я исполнитель</div><!--
      --><div class="orders-btn__right orders-btn__item">Я заказчик</div>
  </div>

  <!--Блок исполнителя-->

  <div class="tab-block-container tab-block-container--active performer"><!--
      --><div class="tab tab--performer tab--performer-active">Мои отклики</div><!--
      --><div class="tab tab--performer">В исполнении</div><!--
      --><div class="tab tab--performer tab--last">Выполненные</div><!--
      --><div class="tab-section tab-section--performer tab-section--performer-active">

    <section class="subsection">

      <div class="subsection__left">
        <h2 class="subsection__title">Убрать 3-х квартиру</h2>
        <img src="img/avatar1.jpg" alt="avatar" class="subsection__avatar">
        <p class="subsection__fname">
          Дмитрий
          <span class="subsection__sname">Б.</span>
        </p>
        <p class="subsection__review">
          Отзывы:
          <i class="icon-thumbs-up-alt"></i>
          <span class="subsection__like">5</span>
          <i class="icon-thumbs-down-alt"></i>
          <span class="subsection__dislike">1</span>
        </p>
      </div>

      <div class="subsection__right">
        <p class="subsection__price">
          3500
          <i class="icon-rouble subsection__icon-rouble"></i></p>
        <p class="subsection__date">
          <i class="icon-clock"></i>
          До 23 июня 2018
        </p>
        <p class="subsection__location">
          <i class="icon-location"></i>
          Москва
        </p>
      </div>

    </section>

    <!--Сообщение показывается, если еще нет откликов-->
    <section class="tab-section__subsection">
      <p class="tab-section__content">
        Вы еще не сделали ни одного предложения
      </p>
      <a href="#" class="tab-section__note">
        Перейти к заданиям
      </a>
    </section>
    <!--Сообщение показывается, если еще нет откликов END-->

  </div>

    <div class="tab-section tab-section--performer">

      <section class="subsection">

        <div class="subsection__left">
          <h2 class="subsection__title">Убрать 3-х квартиру</h2>
          <img src="img/avatar1.jpg" alt="avatar" class="subsection__avatar">
          <p class="subsection__fname">
            Дмитрий
            <span class="subsection__sname">Б.</span>
          </p>
          <p class="subsection__review">
            Отзывы:
            <i class="icon-thumbs-up-alt"></i>
            <span class="subsection__like">5</span>
            <i class="icon-thumbs-down-alt"></i>
            <span class="subsection__dislike">1</span>
          </p>
        </div>

        <div class="subsection__right">
          <p class="subsection__price">
            3500
            <i class="icon-rouble subsection__icon-rouble"></i></p>
          <p class="subsection__date">
            <i class="icon-clock"></i>
            До 23 июня 2018
          </p>
          <p class="subsection__location">
            <i class="icon-location"></i>
            Москва
          </p>
        </div>

      </section>

      <!--Сообщение показывается, если нет задач в исполнении-->
      <section class="tab-section__subsection">
        <p class="tab-section__content">
          Вы еще не были назначены исполнителем
        </p>
        <img src="img/face.svg" alt="face" class="tab-section__face">
      </section>
      <!--Сообщение показывается, если нет задач в исполнении END-->

    </div>

    <div class="tab-section tab-section--performer">

      <section class="subsection">

        <div class="subsection__left">
          <h2 class="subsection__title">Убрать 3-х квартиру</h2>
          <img src="img/avatar1.jpg" alt="avatar" class="subsection__avatar">
          <p class="subsection__fname">
            Дмитрий
            <span class="subsection__sname">Б.</span>
          </p>
          <p class="subsection__review">
            Отзывы:
            <i class="icon-thumbs-up-alt"></i>
            <span class="subsection__like">5</span>
            <i class="icon-thumbs-down-alt"></i>
            <span class="subsection__dislike">1</span>
          </p>
        </div>

        <div class="subsection__right">
          <p class="subsection__price">
            3500
            <i class="icon-rouble subsection__icon-rouble"></i></p>
          <p class="subsection__date">
            <i class="icon-clock"></i>
            До 23 июня 2018
          </p>
          <p class="subsection__location">
            <span class="subsection__expect-response">Ожидается отзыв</span>
            <i class="icon-location"></i>
            Москва
          </p>
        </div>

      </section>

      <!--Сообщение показывается, если еще нет выполненных задач-->
      <section class="tab-section__subsection">
        <p class="tab-section__content">
          У вас еще нет выполненных задач
        </p>
        <img src="img/face.svg" alt="face" class="tab-section__face">
      </section>
      <!--Сообщение показывается, если еще нет выполненных задач END-->

    </div>

  </div>

  <!--Блок исполнителя END-->

  <!--Блок заказчика-->

  <div class="tab-block-container customer"><!--
      --><div class="tab tab--customer tab--customer-active">Мои задачи</div><!--
      --><div class="tab tab--customer">Предложения</div><!--
      --><div class="tab tab--customer">В процессе</div><!--
      --><div class="tab tab--customer tab--last">Завершенные</div><!--
      --><div class="tab-section tab-section--customer tab-section--customer-active">
    <p class="tab-section__content">
      customer section 1
    </p>
    <p class="tab-section__note">
      Перейти к заданиям
    </p>
  </div>
    <div class="tab-section tab-section--customer">
      <p class="tab-section__content">
        customer section 2
      </p>
      <p class="tab-section__note">
        Перейти к заданиям
      </p>
    </div>
    <div class="tab-section tab-section--customer">
      <p class="tab-section__content">
        customer section 3
      </p>
      <p class="tab-section__note">
        Перейти к заданиям
      </p>
    </div>
    <div class="tab-section tab-section--customer">
      <p class="tab-section__content">
        customer section 4
      </p>
      <p class="tab-section__note">
        Перейти к заданиям
      </p>
    </div>
  </div>

  <!--Блок заказчика END-->


</div>  <!--orders-block end-->
</div>  <!--container end-->
<!--Мои заказы end-->