<!--Профиль пользователя-->

<div class="profile-block">

  <div class="profile">
    <div class="profile__left">
      <h2 class="profile__greeting">Здравствуйте, Дмитрий!</h2>
      <div class="profile__avatar-wrap">
        <img src="" alt="" class="profile__avatar">
        <div class="profile__circle">
          <span class="profile__plus">+</span>
        </div>
        <p class="profile__add-photo">Добавить фото</p>
      </div>
      <div class="profile__wrap">
        <p class="profile__views">15 просмотров</p>
        <p class="profile__age">26 лет</p>
        <p class="profile__location">
          Москва
        </p>
        <p class="profile__review">
          Отзывы:
          <i class="icon-thumbs-up-alt"></i>
          <span class="profile__like">5</span>
          <i class="icon-thumbs-down-alt"></i>
          <span class="profile__dislike">0</span>
        </p>
      </div>

      <div class="profile-btn">
        <div class="profile-btn__left profile-btn__item profile-btn__active">Обо мне</div><!--
      --><div class="profile-btn__right profile-btn__item">Настройки</div>
      </div>

      <section class="profile__section">
        <h3 class="profile__section-title">
          О себе
        </h3>
        <i class="icon-pencil"></i>
        <span>Редактировать</span>
        <p class="profile__section-content">
          Здравствуйте! Я Дмитрий. Готов предложить свои услуги
          по разработке web-сайтов, сервисов. Также могу выполнить
          дизайн для вашего будущего сайта. Примеры моих работ по
          дизайну и разработке можете посмотреть в моем портфолио.
          Рад с вами сотрудничать!
        </p>
      </section>

      <section class="profile__section">
        <h3 class="profile__section-title">
          Услуги и цены
        </h3>
        <i class="icon-pencil"></i>
        <span>Редактировать</span>
        <p class="profile__section-content">
          Web-программирование от 1000 рублей. Фотосъемка от 10000 рублей.
        </p>
      </section>

      <section class="profile__section">
        <h3 class="profile__section-title">
          Виды предоставляемых услуг
        </h3>
        <i class="icon-pencil"></i>
        <span class="profile__section-edit">Редактировать</span>
        <h4 class="profile__category">
          Web-программирование
        </h4>
        <ul>
          <li class="profile__subcategory">
            Верстка страниц
          </li>
          <li class="profile__subcategory">
            Разработка PHP
          </li>
          <li class="profile__subcategory">
            Разработка JavaScript
          </li>
          <li class="profile__subcategory profile__subcategory--expand">
            Показать больше
          </li>
        </ul>
        <h4 class="profile__category">
          Фото услуги
        </h4>
        <ul>
          <li class="profile__subcategory">
            Свадебный фотограф
          </li>
        </ul>
      </section>

      <section class="profile__section">
        <h3 class="profile__review-header">
          Отзывы
          <i class="icon-thumbs-up-alt"></i>
          <span class="profile__like">5</span>
          <i class="icon-thumbs-down-alt"></i>
          <span class="profile__dislike">0</span>
        </h3>

        <div class="profile__review-wrapper">
          <div class="user">
            <img src="img/avatar1.jpg" alt="avatar" class="user__avatar">
            <div class="user__wrap">
              <p class="user__fname">
                Дмитрий
                <span class="user__sname">Б.</span>
              </p>
              <p class="user__location">
                Москва
              </p>
              <p class="user__review">
                Отзывы:
                <i class="icon-thumbs-up-alt"></i>
                <span class="user__like">5</span>
                <i class="icon-thumbs-down-alt"></i>
                <span class="user__dislike">0</span>
              </p>
              <p class="user__role">
                Заказчик
              </p>
            </div>
          </div>
          <div class="profile__review-date">
            11.11.2018
            <span>г.</span>
          </div>
          <div class="profile__review-block">
            <p class="profile__review-note">
              Отзыв о выполнении задания
              &ldquo;<span class="profile__task-name">Главная страница сайта</span>&rdquo;
              <i class="icon-thumbs-up-alt"></i>
            </p>
            <p class="profile__comment">
              Отличная работа. Мне очень понравилось.
              Все выполнил очень быстро и даже раньше
              указанных сроков. Буду сотрудничать!
            </p>
          </div>
        </div>

        <div class="profile__review-wrapper">
          <div class="user">
            <img src="img/avatar1.jpg" alt="avatar" class="user__avatar">
            <div class="user__wrap">
              <p class="user__fname">
                Сергей
                <span class="user__sname">К.</span>
              </p>
              <p class="user__location">
                Москва
              </p>
              <p class="user__review">
                Отзывы:
                <i class="icon-thumbs-up-alt"></i>
                <span class="user__like">5</span>
                <i class="icon-thumbs-down-alt"></i>
                <span class="user__dislike">0</span>
              </p>
              <p class="user__role user__role--performer">
                Исполнитель
              </p>
            </div>
          </div>
          <div class="profile__review-date">
            11.11.2018
            <span>г.</span>
          </div>
          <div class="profile__review-block">
            <p class="profile__review-note">
              Отзыв на задание
              &ldquo;<span class="profile__task-name">Убрать 3-х квартиру</span>&rdquo;
              <i class="icon-thumbs-up-alt"></i>
            </p>
            <p class="profile__comment">
              Адекватный заказчик. Все объяснил что и куда расставить,
              куда выносить мусор и т.д.
            </p>
          </div>
        </div>

        <div class="profile__review-expand">
          Показать больше
        </div>

      </section>

    </div>  <!--profile__left end-->

    <div class="profile__right">

    </div>  <!--profile__right end-->

  </div>

</div>  <!--profile-block end-->
</div>  <!--container end-->
<!--Профиль пользователя end-->