<div class="registration-block">

  <h1 class="title">Регистрация</h1>

  <div class="form-wrapper">

    <form action="#" method="post" class="form">

      <p class="form__note">*Все поля обязательны к заполнению</p>

      <div class="form__left-block">
        <span class="form__span">Имя</span>
        <input type="text" class="input" name="name"
               placeholder="Введите имя" autocomplete="off">
      </div>

      <div class="form__right-block">
        <span class="form__span">Фамилия</span>
        <input type="text" class="input" name="surname"
               placeholder="Введите фамилию" autocomplete="off">
      </div>

      <span class="form__span">Ваш e-mail</span>
      <input type="email" class="input" name="email"
             placeholder="Введите e-mail адрес" autocomplete="off">

      <span class="form__span">Ваш номер телефона</span>
      <input type="tel" class="input" name="tel"
             placeholder="+7-(000)-000-00-00" autocomplete="off">

      <span class="form__span">Пароль</span>
      <span class="form__note-sm">Сгенерировать пароль</span>
      <input type="password" class="input" name="password"
             placeholder="Введите пароль" autocomplete="off">

      <span class="form__span">Подтвердите пароль</span>
      <input type="password" class="input" name="password-repeat"
             placeholder="Подтвердите пароль" autocomplete="off">

      <label class="checkbox">
        <input type="checkbox" name="checkbox" class="checkbox__input" checked>
        <span class="checkbox__span"></span>
        <span class="checkbox__label">Я прочитал(а)</span>
        <a href="#" class="checkbox__label">пользовательское соглашение</a>
      </label>

      <input type="submit" class="btn btn--default btn--centered btn--submit btn--block" value="Зарегистрироваться">

    </form>
  </div>

</div>
</div>